{% extends 'student/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} About {% endblock %} </title>
</head>
{% block pagecontent %}
<body>
<div class="jumbotron p-9 p-md-5 text-white rounded bg-dark mt-5 mb-5">
    <h2 class="display-4 font-italic">About</h2>
    <p class="lead my-3 " style="text-align: justify;">
        Information Technology (IT) courses and specializations teach core python, Advance Python, Frameworks like,
        Django, Flask, REST API, Fast API, Odoo , and more. Learn to use computers to meet day-to-day business needs
        and launch or advance your career in the IT industry. Codesnake Infolab provides Python Training in Ahmedabad,
        which
        isn’t restricted to a specific group of audience. Any individual should have a desire to learn and opt
        for this course. </p>
</div>
</body>
{% endblock %}
</html>